# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/front/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

# python
.python-version
venv
__pycache__


[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
.idea
*.suo
*.user
*.pyc
_ReSharper.*
.cake/*
!.cake/packages.config
/packages
Assemblies/Temp
desktop.ini
node_modules
dist
*-assets*.json
.coverage
.artifacts
*.sublime-project
*.sublime-workspace
Build/MSBuild.TaskWrapper/LogsDirectory
.babel-cache
!webpack-dll-assets.json
!webpack-vendor-assets.json

static
template
index.html